body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
  padding: 20px;
  text-align: center;

  
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
      border: 2px solid #129f4f;
      position: -webkit-sticky; /* لدعم متصفح Safari */
      position: sticky;
      top: 0; /* تعيين المسافة من أعلى الصفحة التي سيُثبت عندها العنصر */
      z-index: 1000; /* التأكد من أن العنصر يظهر فوق العناصر الأخرى */
      background-color: white; /* يمكن تعديله ليتناسب مع تصميمك */
}

#searchResults div {
  margin-top: 10px;
  padding: 10px;
  font-size: xx-large ;

  
  
}

roow  {
  text-align: center;
  font-size: xx-large ;
  


}
body {
  background-image: url('Mo2.jpg');
  background-size: 129%; /* هذا يضمن أن الصورة تغطي الصفحة بأكملها */
  background-position: center; /* هذا يضمن أن الصورة تتوسط الصفحة */
}

  .myImage {
    width: 588px;  /* تعيين العرض */
    height: 249px;  /* الارتفاع يتغير تلقائياً للحفاظ على نسب الأبعاد */
  }
  
 
  
  .copyButton {
    background-color: #4CAF50; /* اللون الأخضر */
    color: white; /* لون النص أبيض */
    border: none; /* إزالة الحدود */
    padding: 10px; /* التبطين */
    border-radius: 5px; /* تقريب الزوايا */
    cursor: pointer; /* تغيير المؤشر عند تمرير الماوس */
    margin-top: 10px; /* هامش علوي */
  }
  #backToTopButton {
    position: fixed;
    bottom: 31px;
    right: 66px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #129f4f;
    color: white;
    cursor: pointer;
    padding: 16px;
    border-radius: 44px;
    font-size: 18px; 
  }
  
  #backToTopButton:hover {
    background-color: #555;
  }
  .h1 {

    font-size: medium;
  }
 
  

  @media screen and (max-width: 600px) {
    body {
      background-image: url('Mo2.jpg');
      background-size: 130%; /* هذا يضمن أن الصورة تغطي الصفحة بأكملها */
      background-position: center; /* هذا يضمن أن الصورة تتوسط الصفحة */
    }
    .row {
      flex-direction: column;
      
    }
    .myImage {
      width: 238px; /* تأكد من أن الصور تستجيب لحجم الشاشة */
      height: auto;
    }
    #searchInput {
      width: 207; /* استخدام العرض الكامل للشاشة */
    }
    #backToTopButton {
      right: 10px; /* تعديل الموقع ليتناسب مع الشاشات الصغيرة */
      bottom: 10px;
    }
    h1{

      font-size: medium;
    }
    .no{

      font-size: medium;
      text-align: right;
    }
  }
  
   
