body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
  padding: 20px;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

#searchResults div {
  margin-top: 10px;
  padding: 10px;
  
}

.row  {
  text-align: center;



}
body {
  background-image: url('Mo2.jpg');
  background-size: cover; /* هذا يضمن أن الصورة تغطي الصفحة بأكملها */
  background-position: center; /* هذا يضمن أن الصورة تتوسط الصفحة */
}

  .myImage {
    width: 300px;  /* تعيين العرض */
    height: auto;  /* الارتفاع يتغير تلقائياً للحفاظ على نسب الأبعاد */
  }



  @media (max-width: 844px) {

  body {
    font-size: 300%;  }
  
  input[type="text"] {
    width: 100%; /* توسيع خانة البحث لتغطية العرض الكامل للشاشة على الأجهزة المحمولة */
    padding: 10px;
    margin-bottom: 20px;
     font-size: 300%;
  }
  
  #searchResults div {
    margin-top: 10px;
    padding: 10px;
  }
  
  .row {
    text-align: center;
        font-size: 200%;

  }
  
  .myImage {
    width: 80%;  /* تقليل حجم الصورة لتناسب شاشات الهواتف المحمولة */
    height: auto; /* الارتفاع يتغير تلقائياً للحفاظ على نسب الأبعاد */
    margin: auto; /* توسيط الصورة */
  }
}
  /* استعلام إعلامي للشاشات التي عرضها أقل من 600 بكسل */
  @media (max-width: 600px) {
    .row {
      flex-direction: column;
          font-size: 200%;

    }
  
    input[type="text"] {
      width: 90%; /* تعديل عرض خانة البحث لتناسب الشاشات الصغيرة */
       font-size: 300%;
    }
  
    .myImage {
      width: 100%; /* تقليل حجم الصورة أكثر لتناسب الشاشات الصغيرة */
    }
  }
  
